* {
  margin: 0;
  /* background-image: url("https://image.shutterstock.com/image-photo/coronavirus-concept-corona-virus-outbreak-600w-1643323090.jpg"); */
}

.header > img {
  width: 1350px;
  height: 550px;
}

.header1 {
  display: flex;
  justify-content: center;
}

.bgimg {
  background-image: url("images/background.jpeg");
}

.content1 {
  display: flex;
  flex-direction: row;
}

.para1 {
  position: relative;
  margin-left: 100px;
  width: 700px;
  font-size: 25px;
  top: 80px;
}

.logo > img {
  border: 2px solid black;
  position: relative;
  margin-left: 150px;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.heading1 {
  text-align: center;
  border: 2px solid black;
  background-color:bisque;
}

.para2 {
  width: 950px;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 250px;
  color: black;
}

.imgcards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img_1 > img {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}
.img_2 > img {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}
.img_3 > img {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.para3 {
  font-size: 20px;
  width: 950px;
  margin-top: 80px;
  margin-left: 200px;
  color: black;
}

.para4 {
  font-size: 20px;
  width: 950px;
  margin-top: 80px;
  margin-left: 200px;
  color: black;
}

.header2 > h1 {
  border: 2px solid black;
  background-color: bisque;
  margin-top: 50px;
  text-align: center;
}

.lst_1 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.lst1 {
  margin-left: 50px;
  width: 600px;
  margin-top: 50px;
}

.img1 {
  margin-left: 50px; 
  border: 2px solid black;
}

.lst_2 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.lst2 {
  margin-top: 60px;
  margin-left: 50px;
  width: 600px;
}

.img2 {
  position: relative;
  bottom: 30px;
  margin-left: 50px;
  border: 2px solid black;

}

.lst3 {
  position: relative;
  left: 500px;
  top: 70px;
  width: 650px;
}

.img3 {
  border: 2px solid black;
  position: relative;
  right: 650px;
}

.lst_3 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.lst_4 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.lst4 {
  width: 600px;
  position: relative;
  left: 600px;
  top: 70px;
}

.img4 {
  position: relative;
  right: 500px;
  border: 2px solid black;
}

.lst_5 {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.lst5 {
  margin-top: 70px;
  margin-left: 50px;
  width: 650px;
}

.img5 {
  position: relative;
  left: 30px;
  border: 2px solid black;
}

.lst_6 {
  margin-bottom: 100px;
}

.lst6 {
  position: relative;
  left: 50px;
  width: 1000px;
}

.img6 {
  border: 2px solid black;
  position: relative;
  top: 50px;
  left: 300px;
}

.lst_7 {
  display: flex;
  flex-direction: row;
}

.lst7 {
  margin-top: 100px;
  margin-left: 50px;
  width: 600px;
}

.img7 {
  position: relative;
  left: 50px;
  top: 20px;
  border: 2px solid black;
}

.data_lst img:hover {
  transform: scale(1.1);
}

.data_lst img {
  transition: transform .2s;
}

.container_para {
  font-size: 25px;
  margin-left: 100px;
  width: 1150px;
  margin-top: 50px;
}

.data_lst {
  font-size: 20px;
  margin-top: 50px;
}

ul {
  list-style-type:square;
}

.data_container {
  margin-bottom: 100px;
}

.create {
  padding-top: 10px;
  background-color:gainsboro;
  padding-left: 40px;
  padding-bottom: 40px;
}

.create > p {
  margin-top: 20px;
  font-size: 25px;
  width: 500px;
  background-color:darkkhaki;
  border: 1px solid black;
}


p {
  color: white;
}

.para3 {
  color: white;
}

.para4 {
  color: white;
}

li {
  color: white;
}